.container {
  width: auto;
  background: #fff;
  border: 1px #e5e5e5 solid;
  border-radius: 2px;
}
.shadow-1 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.shadow-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

input {
  padding: 5px;
}
pre {
  padding: 16px;
  line-height: 18px;
  background-color: #f7f7f7;
}
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: #f5f5f5;
  font-size: 16px;
}

ul, li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}



/**
 * drawer
 */
.drawer {
  display: block;
  background: #37474F;
  border: none;
  box-sizing: border-box;
  width: 240px;
  overflow-y: auto;
  padding: 16px 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.drawer > * {
  display: flex;
  flex-direction: column;
}
.drawer .logo {
  align-items: center;
  padding: 16px;
}
.drawer .logo img {
  width: 128px;
  border-radius: 10px;
}
.drawer a {
  text-decoration: none;
  color: rgba(236, 239, 241, 0.5);
  padding: 16px 20px;
  display: flex;
  align-items: center;
}
.drawer a:hover {
  color: #fff;
}

.drawer li a:hover {
  background: #07ACC1;
}
.drawer .material-icons {
  margin-right: 22px;
  font-size: 24px;
  background: #EF3C79;
  border-radius: 50%;
  padding: 10px;
  vertical-align: middle;
}
.drawer li a:hover .material-icons {
  background: rgba(239, 60, 121, 0.6);
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .drawer {
    position: fixed;
    height: 64px;
    padding: 0;
    top: 0;
    display: block;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
  }
  .drawer > * {
    display: inline-block;
    flex-direction: inherit;
  }
  .drawer .logo {
    padding: 4px;
    align-items: inherit;
  }
  .drawer .logo img {
    vertical-align: middle;
    width: 56px;
  }
  .drawer ul {
    display: inline-block;
    flex-direction: inherit;
    align-items: inherit;
  }
  .drawer ul li {
    display: inline-block;
  }
  .drawer a {
    padding: 5px 15px;
    display: inline-block;
    align-items: inherit;
  }
  .drawer a.components.header {
    display: none;
  }
  .drawer .material-icons {
    margin: 0;
    background: transparent;
    border-radius: 0;
    padding: 5px;
    text-align: center;
  }
  .drawer li a:hover .material-icons {
    background: none;
    color: #fff;
  }
  input {
    width: auto !important;
  }
}

/**
 * main
 */
main {
  margin: 0px 0 0 240px;
  width: calc(100% - 240px);
  max-width: 1024px;
  padding: 12px;
}
main > .title {
  padding: 12px 48px;
}
main .main-contents {
  width: 75%;
  float: left;
}
main .repo-info {
  display: block;
  width: calc(25% - 12px);
  float: left;
}
main .repo-info .container {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  main {
    display: block !important;
    width: 100%;
    margin: 0 auto;
    margin-top: 64px;
  }
}
@media screen and (min-width: 840px) {
  main > .spacer {
    float: left;
  }
}
@media screen and (max-width: 840px) {
  main .main-contents {
    width: 100%;
    float: none;
  }
  main .repo-info {
    width: 100%;
    float: none;
  }
  main .repo-info .spacer {
    float: left;
  }
  main .repo-info .container {
    width: calc(50% - 6px);
    float: left;
  }
}

.content {
  max-width: 1080px;
}

.contributor {
  display: inline-block;
  padding: 10px;
}
.contributor a {
  text-decoration: none;
}
.contributor img {
  border-radius: 50%;
}
.you {
  display: inline-block;
  background: #ccc;
  color: #fff;
  width: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 50%;
}
.you ~ .name {
  color: #999
}

/**
 * common classes
 */
.bg-sky {
  background: linear-gradient(#0143A3,#0273D4);
  color: #fff;
}
.container {
  padding: 12px;
  position: relative;
}
.container > .title {
  background-color: white;
  display: inline-block;
  padding: 0 10px;
  width: auto;
  position: absolute;
  top: -10px;
}

.round-border {
  border-radius: 2px;
  border: 1px solid #ccc;
}

.spacer {
  height: 12px;
  width: 12px;
}
.spacer.x2 { height: 24px; width: 24px; }
.spacer.x3 { height: 36px; width: 36px; }
.spacer.x4 { height: 48px; width: 48px; }
.spacer.x5 { height: 69px; width: 69px; }
.spacer.x6 { height: 72px; width: 72px; }
.spacer.x7 { height: 84px; width: 84px; }
.spacer.x8 { height: 96px; width: 96px; }

.tabs {
  position: relative;
  top: 1px;
  background: transparent;
  display: block;
}
.tabs .tab {
  display: inline-block;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 2px 2px 0 0;
}
.tabs .tab.selected {
  padding-top: 0;
  background: #f7f7f7;
  border-top: 5px solid #00BCD4;
  border-bottom: 1px solid transparent;
}
.tab-contents {
  border: 1px solid #999;
  border-radius: 2px;
}
