
html, body {
  font-size: 14px;
}

input {
  padding: 5px;
}

ng2-tab {
  padding: 10px 0;
  display: block;
}

a:hover{
  text-decoration:none;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 16px;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.container {
  width: auto;
}
.shadow-1 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.shadow-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.w-980 {
  width: 980px;
}
.v-middle {
  vertical-align: middle;
}

/**
 * header
 */
.masthead {
  text-align: left;
  padding: 16px 0;
  margin-bottom: 24px;
  text-align: center;
  background-color: #4078c0;
}
.masthead .container {
  padding: 0 20px;
}
.masthead .logo {
  font-size: 1.5em;
}
.masthead-nav {
  float: right;
  margin-top: 1rem;
  font-size: 1rem;
}
.masthead-nav a:not(:last-child) {
  margin-right: 1.25rem;
}
.masthead-nav .numbers {
  vertical-align: bottom;
}

/**
 * main
 */

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.main.container {
  width: auto;
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 16px;
}

.page-title {
  border-bottom: 1px solid #eee;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
}

.page-title-description {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}

.main h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

/**
 * main
 */
.drawer .menu-item.components:hover {
  background-color: #fff;
}
.drawer .menu-item.components .menu {
  border: none;
}
.drawer a {
  cursor: pointer;
}


/**
 * footer
 */
.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
}

.contributor {
  display: inline-block;
  padding: 10px;
}
.contributor a {
  text-decoration: none;
}
.contributor img {
  border-radius: 50%;
}
.you {
  display: inline-block;
  background: #ccc;
  color: #fff;
  width: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 50%;
}
.you ~ .name {
  color: #999
}

/**
 * tabs
 */
.tabs {
  position: relative;
  top: 1px;
  background: transparent;
  display: block;
}
.tabs .tab {
  display: inline-block;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 2px 2px 0 0;
}
.tabs .tab.selected {
  padding-top: 0;
  background: #f7f7f7;
  border-top: 5px solid #00BCD4;
  border-bottom: 1px solid transparent;
}
.tab-contents {
  border: 1px solid #999;
  border-radius: 2px;
}
