<div class="drawer mdl-shadow--2dp">
  <div class="logo">
    <img src="https://avatars1.githubusercontent.com/u/20460529?v=3&s=200">
  </div>
  <ul>
    <a href="#">Getting Started</a>
    <a href="">Components</a>
    <ul>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
      <li><a href="#"><i class="material-icons">mouse</i>Datetime Picker</a>
    </ul>
    <a href="#">Help</a>
  </ul>
</div>